<!-- Page Header -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Projects</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-4 portfolio-item" ng-repeat="project in projects">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/700x400" alt="">
        </a>
        <h3>
            <a href="#/projects/{{project.id}}">{{project.projectname}}</a>
        </h3>
        <p>{{project.description}}</p>
    </div>
</div>
