<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">New Project</h1>
    </div>
</div>

<form name="projectForm">
            <p>
                <label>Projectname</label>
                <input name="projectname" type="text" ng-model="project.projectname" required ng-minlength="3"
                       ng-class="{invalid : projectForm.projectname.$invalid && projectForm.projectname.$dirty}">
            </p>
            <p>
                <label>Description</label>
                <input name="description" type="text" ng-model="project.description" required ng-minlength="8"
                       ng-class="{invalid : projectForm.description.$invalid && projectForm.description.$dirty}">
            </p>
            <p>
                <label>Project started</label>
                <input type="date" ng-model="project.projectstart" datepicker-popup datepicker-options="dateOptions"
                       init-date="today" format="dd.MM.yyyy">
            </p>
            <p>
                <label>Project ended</label>
                <input type="date" ng-model="project.projectend" datepicker-popup datepicker-options="dateOptions"
                       init-date="today" format="dd.MM.yyyy">
            </p>
            <p>
                <label>Tags</label>
                <tags-input ng-model="project.tags" required ></tags-input>
            </p>
            <p>
              <label>Image</label>
              <input name="file" type="file" file />
            </p>
            <p>
                <label>Github</label>
                <input name="github" type="text" ng-model="project.links.github" required ng-minlength="3"
                       ng-class="{invalid : projectForm.links.github.$invalid && projectForm.links.github.$dirty}">
            </p>
            <p>
                <button class="btn btn-default" ng-disabled="projectForm.$invalid"
                        ng-click="addProject()">{{isSubmitting ? 'saving...' : 'Save'}}</button>
            </p>
        </form>
