<!-- Page Header -->
<div class="row page-header">
    <div class="col-lg-12">
      <h1>{{project.projectname}}</h1>
      <div class="logo" ng-show="github">
        <a ng-href="{{github}}">
          <img class="small-image"
          src="https://s3.eu-central-1.amazonaws.com/samutamm-images/small-octocat.jpg"
          alt="GitHub">
        </a>
      </div>
    </div>
  </div>

<div class="row">
    <div class="col-md-4 portfolio-item">
        <a href="{{imageUrl}}">
            <img class="img-responsive" src="{{imageUrl}}" alt="">
        </a>
    </div>
    <h3>Description</h3>
    <p>{{project.description}}</p>
</div>

<ul class="taglist" ng-repeat="tag in tags">
  <li>{{tag}}</li>
</ul>
